# Python virtual environment
env/
venv/

# Large files and dependencies
*.pyd
*.dll
*.lib
__pycache__/
*.pyc
*.h5
*.pkl
model.png

# Specific directories
torch/
tensorflow/
clang/

# IDE files
.vscode/
.idea/
